$primary: #1D417A;
$color-highlight: #23A0DA;
$border-light: #EDEDED;
$color-gray-dark: #4c4e4b;
$theme-colors: (  "primary": $primary);
$tooltip-bg: $color-highlight;
$timeline-border-color-today: #9954BB;
.progress-wrap h1{text-align: center;}
.progress-container{margin-bottom: 30px; margin-left: 20px}
.progress-container:after { clear: both; display: table; content: " "; }
.circle-link { display: block; float: left; width: 16%; margin-top: 30px; text-align: right; position: relative;font-family: "Helvetica";
  .timestamp{color: var(--primary);margin-bottom: 16px; padding: 0  }

}
.line { height: 4px; background-color: $border-light; display: block; position: relative; top: 4px; }
.circle-link-text, .circle-link-text-top { padding-top: 15px; display: inline-block; color: $border-light; text-align: center; width: 100%; margin: 0 auto; margin-left: 44%; }
.progress-container > .circle-link:first-child { width: 0px; margin-left: -20px}
.progress-container > .circle-link:first-child .circle-link-text { margin: 0; }
.circle-btn { height: 25px; width: 25px; display: block; border-radius: 50%; margin-top: -10px; margin-left: auto; position: relative; z-index: 99; background-color: $border-light }
.completed{
  .line { background-color: $primary }
  .circle-btn { background-color: $primary; }
  .circle-link-text { color: $color-highlight; }
  &.active .line { background:$color-highlight; background: -moz-linear-gradient(top, $color-highlight 0%, #00e0f9 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #2dbef5 0%, #00e0f9 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #2dbef5 0%, #00e0f9 100%); }
  &.active .circle-btn { border: 3px solid $color-highlight; background-color: white }
}


.today {
  .circle-btn { background-color: $timeline-border-color-today!important; border-color:  $timeline-border-color-today!important; }
  .circle-link-text,   .circle-link-text-top {
    color: $timeline-border-color-today;
  }
}
