<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
	<div class="container">
		<a class="navbar-brand" href="/">Home</a>

		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  >Dashboard</a>
      </li>
      <li class="nav-item">
				<a class="nav-link" [routerLink]="['/release']" routerLinkActive="router-link-active"  href="#">Releases</a>
      </li>

			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/client']" routerLinkActive="router-link-active"  href="#">Client</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/reports']" routerLinkActive="router-link-active"  href="#">Reports</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['/feature']" routerLinkActive="router-link-active"  href="#">Features</a>
      </li>


		</ul>
	</div>
</nav>
