

<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">
      <ul class="nav flex-column">
          <li class="nav-item pl-4 active">
              <a class="nav-link"  [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  >
                  <i class="material-icons md-36 align-middle">store</i>
                  <span class="align-middle pl-2">Home</span>
              </a>
          </li>
          <li class="nav-item pl-4">
              <a class="nav-link"  [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                  <i class="material-icons md-36 align-middle">dashboard</i>
                  <span class="align-middle pl-2">Dashboard</span>
              </a>
          </li>
          <li class="nav-item pl-4">
              <a class="nav-link"  [routerLink]="['/release']" routerLinkActive="router-link-active" >
                  <i class="material-icons md-36 align-middle">filter_none</i>
                  <span class="align-middle pl-2">Release</span>
              </a>
          </li>
          <li class="nav-item pl-4">
              <a class="nav-link"  [routerLink]="['/client']"  routerLinkActive="router-link-active"  >
                  <i class="material-icons md-36 align-middle">people</i>
                  <span class="align-middle pl-2">Client</span>
              </a>
          </li>
          <li class="nav-item pl-4">
              <a class="nav-link" [routerLink]="['/reports']" routerLinkActive="router-link-active" >
                  <i class="material-icons md-36 align-middle">find_in_page</i>
                  <span class="align-middle pl-2">Reports</span>
              </a>
          </li>
          <li class="nav-item pl-4">
              <a class="nav-link" [routerLink]="['/feature']" routerLinkActive="router-link-active">
                  <i class="material-icons md-36 align-middle">settings_applications</i>
                  <span class="align-middle pl-2">Features</span>
              </a>
          </li>
      </ul>
  </div>
</nav>
