<div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <div class="mt-3" *ngFor="let release of upcomingReleases">
    <app-collapsible-card startCollapsed="false" cardTitle="{{release.client.clientName + '  - ' + release.applicationVersion + ' ' + release.daysUntilText}} ">

      <div>
        <section>
          <table class="table  table-bordered table-success">
            <thead>
              <tr>
                <th>QA Starts</th>
                <th>QA Ends</th>
                <th>UAT Starts</th>
                <th>UAT Ends</th>
                <th>Release </th>
              </tr>
              <tr >
                <td>{{release.daysUntilText2}} </td>
                <td>{{release.qaEndDateText}} </td>
                <td>{{release.uatStartDateText}} </td>
                <td>{{release.uatEndDateText}} </td>
                <td>{{release.releaseDateText}} </td>
              </tr>
            </thead>
          </table>
        </section>
        <section class="mb-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="border-top-0">Title </th>
                <th class="border-top-0">Type</th>
                <th class="border-top-0">API</th>
                <th class="border-top-0">UI</th>
                <!-- <th class="border-top-0 ">Status </th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of release.releaseItems">
                <td>
                  {{item.title}} </td>
                <td [ngClass]="{'text-danger': item.type=='bug'}">
                  <i class="fas " [ngClass]="{'fa-bug': item.type=='bug'}"></i>
                  {{item.type}}
                </td>
                <td>
                  <i *ngIf="item.apiCompleted" class="fas fa-check "></i>
                </td>
                <td>
                  <i *ngIf="item.uiCompleted" class="fas fa-check"></i>
                </td>

                <td class="item-status">
                  <span [innerHTML]="item.status|workItemStatus"></span>
                </td>
              </tr>
            </tbody>


          </table>
        </section>

        <!-- <dl class="row">
                    <dt class="col-sm-2">Days Untill QA</dt>
                    <dd class="col-sm-9">{{release.daysUntilQa}}</dd>

                    <dt class="col-sm-2">Days Untill UAT</dt>
                    <dd class="col-sm-9">{{release.daysUntilUAT}}</dd>
                </dl> -->
        <hr>

        <div class="text-right">
          <a [routerLink]="['/release', release.releaseId]" class="btn btn-primary ">
            <i class="fas fa-pencil-alt"></i>
            Edit {{release.applicationVersion}}
          </a>

        </div>
      </div>
    </app-collapsible-card>
  </div>

</div>
