// body {
//     background-color: #fafafa;
// }
.router-link-active {
  color: #fff;
}
.input-group-append i, .card-header{
   color: #2196F3
}

$timeline-border-width: 2px;
$timeline-border-color: #2196F3;
$timeline-border-color-completed: #BBDEFB;
//$timeline-border-color-today: #FF9800;
$timeline-border-color-today: #9954BB;

.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  color: #6610f2;
  margin-bottom: 20px;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: $timeline-border-width solid $timeline-border-color;
  position: relative;
  transition: all 200ms ease-in;
}
.status h5 {
  padding-top: 20px;
  font-weight: 600;
  color: #613d7c
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #e8eeff;
  border-radius: 25px;
  border: $timeline-border-width solid $timeline-border-color;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

li.completed {
  .status {
    border-top: 2px solid $timeline-border-color;
  }
  .status:before {
    background-color: $timeline-border-color;
    border: none;
    transition: all 200ms ease-in;
  }
}

li.today .status {
  border-top: 2px solid $timeline-border-color;
  &:before {
    background-color: $timeline-border-color-today;
    border: none;
    transition: all 200ms ease-in;
  }
  h5 {
    color: $timeline-border-color-today;
  }
}

// li.completed .status h5 {
//   color: #66DC71;
// }
